<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-c">Fast Foodies</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="What fast food are you craving?" id="filter-text-val">
                <label>Calories</label>
                <select>
                    <option value="calories-high">High</option>
                    <option value="calories-low">Low</option>
                </select>
                <label>Sodium</label>
                <select>
                    <option value="sodium-high">High</option>
                    <option value="sodium-low">Low</option>
                </select>
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(row) {
            return `<div class=''>
                <h1 class='restaurant-name'>${row.restaurant}</h1>
                <h3 class='restaurant-item'>Recommended Item: ${row.item_name}</h3>
                <p class='item-description'>${row.item_description}</p>
                <ul class='nutrition-info'>
                    <li>Calories: ${row.calories} calories</li>
                    <li>Cholesterol: ${row.cholesterol} mg</li>
                    <li>Sodium: ${row.sodium} mg</li>
                </ul>
            </div>`
        }

        const input = document.getElementById("filter-text-val");

        function sendFocus() {
            input.focus()
        }

        input.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                filterText();
            }
        });

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/food?" + new URLSearchParams({ food: document.getElementById("filter-text-val").value.trim() }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));
        }

    </script>
</body>